TestProj/Connected Services/MyServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ConsoleApp_DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ConsoleApp_DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfBugHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BugHistory" nillable="true" type="tns:BugHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBugHistory" nillable="true" type="tns:ArrayOfBugHistory" />
  <xs:complexType name="BugHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bug" nillable="true" type="tns:Bug" />
      <xs:element minOccurs="0" name="BugId" type="xs:int" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BugHistory" nillable="true" type="tns:BugHistory" />
  <xs:complexType name="Bug">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Pictures" nillable="true" type="tns:ArrayOfPicture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bug" nillable="true" type="tns:Bug" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bug" nillable="true" type="tns:Bug" />
      <xs:element minOccurs="0" name="BugId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>